@import "tailwindcss";
:root {
  --primary: #f8951d;
  --primary-active: #fff5eb;
  --primary-hover: #f8961de6;
  --primary-shadow: #fff5eb;
  --warning: #ffc107;
  --softprimary: hsl(30, 100%, 93%);
  --sidebarindicator: #ffe4be;
  --primarywhite: #ffff;
  --secondary: #6366f1;
  --secondary_black: #696969b2;
  --positive: #10b981;
  --positive-hover: #059669;
  --negative: #ef4444;
  --negative-hover: #dc2626;
  --tablebg: #ffffff;
  --tablehead: black;
  --fontfamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-marcellus: "Marcellus", "Roboto", "Inter", sans-serif;
}
