.form {
  padding: 8px;
}

.preview {
  margin-top: 10px;
  max-height: 150px;
  border-radius: 10px;
}

.coords {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
}

.checkbox {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 8px;
}
