.profilePage {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}

.container {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.title {
  padding: 1rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
  font-family: var(--font-marcellus);
}

.form {
  border-radius: 1.25rem;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.flexGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.inputWrapper {
  flex: 1;
  min-width: 250px;
}

.divider {
  margin: 2rem 0;
  border-top: 1px solid var(--primary);
  opacity: 0.3;
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .form {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .buttonWrapper {
    justify-content: center;
  }

  .imageWrapper {
    padding-bottom: 1.5rem;
  }
}
