.tableWrapper {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  font-family: var(--font-roboto);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.tableScrollWrapper {
  overflow-x: auto;
  min-width: 100%;
  scroll-behavior: smooth;
}

.tableScrollWrapper::-webkit-scrollbar {
  height: 8px;
}

.tableScrollWrapper::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}

.table {
  border-collapse: collapse;
  font-size: 13px;
  width: max-content;
  min-width: 100%;
  table-layout: auto;
}

/* Table cells */
th,
td {
  padding: 10px 12px;
  border-bottom: 1px solid #f0f0f0;
  white-space: nowrap;
  text-overflow: clip;
  overflow: visible;
  text-align: left;
  background: #fff;
  min-width: 120px;
  border-right: 1px solid #eaeaea;

}

th {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color:#f3f3f3;
  font-weight: 600;
  border-right: 1px solid #eaeaea;
}

.leftSticky {
  position: sticky;
  left: 0;
  z-index: 5;
  border-right: 1px solid #eaeaea;
  min-width: 150px;
  max-width: 150px;
  white-space: normal;
  padding-right: 12px;
  word-break: break-word;
}

.fixedCell {
  position: sticky;
  z-index: 5;
  border-left: 1px solid #eaeaea;
  min-width: 120px;
  max-width: 120px;
  white-space: nowrap;
}

.rightSticky {
  right: 0;
}

.actionsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actionBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 4px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  position: relative;
}

.actionBtn:hover {
  color: #222;
  transform: scale(1.1);
}

.tooltip {
  position: absolute;
  top: -10px;
  background: #222;
  color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  white-space: nowrap;
}

.actionBtn:hover .tooltip {
  opacity: 1;
}

.primary:hover {
  color: var(--primary);
}

.danger:hover {
  color: #f8951d;
}

.active {
  color: #28a745;
}

.inactive {
  color: #999;
}

tbody tr:hover {
  background-color: #f9fafc;
}

tbody tr td[colspan] {
  text-align: center;
  padding: 24px;
  font-size: 16px;
  color: #888;
  font-style: italic;
}

.badgeWrapper {
  position: relative;
  display: inline-block;
}

.upcomingBadge {
  position: absolute;
  top: -6px;
  left: -6px;
  background-color: var(--primary);
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 0.5px;
  animation: pulseBadge 1.5s infinite ease-in-out;
}

@keyframes pulseBadge {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
