.cardSmall {
  max-width: 30%;
  margin-left: -20px;
  margin-bottom: 24px;
}
.bottomContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 300px;
  gap: 24px;
}

@media (max-width: 768px) {
  .bottomContainer {
    flex-direction: column;
    gap: 16px;
  }
  .column {
    flex: 1 1 100%;
  }
}
