.navbar {
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  padding: 0.9rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.logo {
  height: 38px;
  width: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.05);
}
.text-purple-600 {
  color: #126cdc !important;
}
.rightUtilities {
  display: flex;
  gap: 1.25rem;
  color: #374151;
  align-items: center;
}

.notificationButton {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.2s ease;
}

.notificationButton:hover {
  color: var(--primary);
}

.icon {
  font-size: 1.25rem;
}

.notificationDot {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  background-color: var(--primary);
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  opacity: 0.75;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 0rem 0.6rem;
  border-radius: 0.5rem;
}

.profile:hover {
  background-color: var(--primary-active);
}

.profileimg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.profileName {
  font-size: 1.1rem;
  font-weight: 500;
  user-select: none;
  display: none;
}

@media (min-width: 640px) {
  .profileName {
    display: inline;
  }
}

.languageSwitcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1.5rem;
  position: relative;
}

.globeIcon {
  font-size: 1.2rem;
  color: #4b5563;
}

.languageButtons {
  display: flex;
  position: relative;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f9fafb;
  position: relative;
}

.langBtn {
  padding: 0.4rem 0.8rem;
  font-size: 0.7rem;
  background: transparent;
  border: none;
  color: #4b5563;
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s ease;
  font-weight: 500;
}

.langBtn:hover {
  color: var(--primary);
}

.active {
  color: white !important;
}

.activeIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: var(--primary);
  border-radius: 0.5rem;
  z-index: 0;
  transition: transform 0.3s ease;
}

/* End Navbar CSS */

/* Footer CSS */
.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  border-top: 1px solid #e5e7eb;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
}

.brand {
  font-weight: 600;
  color: var(--primary);
}

.webhopersLink {
  text-decoration: none;
  margin-left: 4px;
}

.web {
  color: #126cdc;
  font-weight: bold;
  font-size: 12px;
}

.hopers {
  color: #ff7713;
  font-weight: bold;
  font-size: 12px;
}
